RPC_URL=http://127.0.0.1:8545
GATEWAY_PRIVATE_KEY=<anvil_key>
API_REGISTRY_ADDRESS=<deployed_address>
X402_FACILITATOR_ADDRESS=<deployed_address>
USDC_ADDRESS=<deployed_address>
PROVIDER_ADDRESS=<your_provider_wallet>
